.container__top {
	display: flex;
	flex-direction: column;
}
.container__bottom {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: $desktop-breakpoint) {
	.container__top {
		gap: 200px;
		flex-direction: row;
	}
}
