html {
	margin: 0;
	padding: 0;
	height: 100vh;
}

body {
	// Typography
	font-family: $font-family;
	font-size: $body-font-size;
	h1,
	h2,
	h3,
	h4 {
		color: $very-dark-magenta;
		margin-bottom: 2px;
	}

	p {
		color: $dark-grayish-magenta;
		margin-top: 10px;
	}

	// Spacing:
	justify-content: center;
	vertical-align: middle;
	align-items: center;
	padding: 0;

	height: 100vh;

	// Background:
	background: url('../images/bg-pattern-top-mobile.svg'), url('../images/bg-pattern-bottom-mobile.svg');
	background-position: top left, bottom right;
	background-repeat: no-repeat no-repeat;
}

.container {
	// flex
	display: flex;
	flex-direction: column;

	// sizing
	width: 70%;
	height: 100vh;

	padding: 5rem 0rem 5rem 0rem;

	// alignment
	margin: 0 auto;
}

@media (min-width: $desktop-breakpoint) {
	h1 {
		font-size: 3rem;
	}

	body {
		background-image: url('../images/bg-pattern-top-desktop.svg'), url('../images/bg-pattern-bottom-desktop.svg');
		background-position: top left, bottom right;
		background-repeat: no-repeat no-repeat;
	}
}
