.reviews {
	display: inline-flex;
	flex-direction: column;

	text-align: center;

	width: 80%;
	margin: auto;
	.review {
		display: inline-flex;
		flex-direction: column;
		background-color: $light-grayish-magenta;

		min-width: 200px;

		padding: 1rem 2rem 1rem 2rem;
		margin: 15px;

		border-radius: 10px;

		text-align: center;

		h4 {
			margin-left: 20px;
			margin-top: 10px;
			font-size: $body-font-size;
			line-height: 1rem;
		}

		div {
			margin-top: auto;
			margin-bottom: auto;
		}
	}

	// Desktop
	@media (min-width: $desktop-breakpoint) {
		.review {
			flex-direction: row;
			min-width: 400px;
		}
		.review:first-child {
			margin-right: auto;
		}
		.review:nth-child(2) {
			margin: 0 auto;
		}
		.review:last-child {
			margin-left: auto;
		}
	}
}
