@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap");
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  font-family: "Spartan", sans-serif;
  font-size: 15px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  vertical-align: middle;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  height: 100vh;
  background: url("../images/bg-pattern-top-mobile.svg"), url("../images/bg-pattern-bottom-mobile.svg");
  background-position: top left, bottom right;
  background-repeat: no-repeat no-repeat;
}

body h1,
body h2,
body h3,
body h4 {
  color: #502050;
  margin-bottom: 2px;
}

body p {
  color: #937b92;
  margin-top: 10px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  height: 100vh;
  padding: 5rem 0rem 5rem 0rem;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  h1 {
    font-size: 3rem;
  }
  body {
    background-image: url("../images/bg-pattern-top-desktop.svg"), url("../images/bg-pattern-bottom-desktop.svg");
    background-position: top left, bottom right;
    background-repeat: no-repeat no-repeat;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.hero {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1440px) {
  .hero {
    text-align: left;
  }
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.reviews .review {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f7f2f7;
  min-width: 200px;
  margin-bottom: 20px;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 10px;
}

.reviews .review h4 {
  text-align: middle;
  margin-top: 10px;
  font-size: 15px;
  line-height: 1rem;
  padding: 0;
}

.reviews .review div {
  margin-top: auto;
  margin-bottom: auto;
}

@media (min-width: 1440px) {
  .reviews .reviews {
    width: 80%;
    margin-left: 100px;
  }
  .reviews h4 {
    margin-left: 1rem;
  }
  .reviews .review {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    min-width: 400px;
  }
  .reviews .review:first-child {
    margin-right: auto;
  }
  .reviews .review:nth-child(2) {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .reviews .review:last-child {
    margin-left: auto;
  }
}

.testimonials {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
}

.testimonials .testimonial {
  background-color: #502050;
  padding: 30px 20px 20px 20px;
  border-radius: 5px;
  color: white;
  margin-bottom: 10px;
}

.testimonials .testimonial__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.testimonials .testimonial__top img {
  border-radius: 100%;
  width: 3rem;
}

.testimonials .testimonial__top-header {
  margin-left: 2rem;
}

.testimonials .testimonial__top h5 {
  margin-bottom: 0.2rem;
  margin-top: 0.5rem;
}

.testimonials .testimonial__top span {
  color: #ee68a4;
  font-size: 0.8rem;
}

.testimonials .testimonial p {
  color: white;
  margin-top: 30px;
  font-size: 0.8rem;
  line-height: 1.5rem;
}

@media (min-width: 1440px) {
  .testimonials {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .testimonial {
    height: 200px;
    margin: 10px auto;
    margin-right: 10px;
    margin-left: 10px;
  }
  .testimonial:nth-child(2) {
    margin-top: 30px;
  }
  .testimonial:last-child {
    margin-top: 60px;
  }
}

.container__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1440px) {
  .container__top {
    gap: 200px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: auto;
    margin-bottom: auto;
  }
}
/*# sourceMappingURL=style.css.map */