body {
  font-family: $font-family;
  font-weight: $font-weight-regular;
  box-sizing: border-box;

  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100vh;

  background: linear-gradient($soft-violet, $soft-blue);

  padding: 2rem 3rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
  a {
    color: hsl(228, 45%, 44%);
  }
}
